Repository ejiektpobehuk/git-plumber: changes, and which GitLab CI jobs are due for each by the changed paths.
All: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

clippy:
  stage: check
  script:
  - rustup component add clippy
  - cargo clippy --all-targets --all-features -- -D warnings
  allow_failure: true

test:
  stage: test
  script:
  - cargo test --all-features --locked

build:linux:
  stage: build
  needs:
  - clippy
  - test
  before_script:
  - rustup show
  - rustup target add "$TARGET"
  - "if [ -n \"${EXTRA_APT:-}\" ]; then\n  apt-get update && apt-get install -y --no-install-recommends ${EXTRA_APT}\nfi\n"
  cache:
    key:
      prefix: $TARGET
      files:
      - Cargo.lock
    paths:
    - target
  ...

build:linux:arm64:gnu:
  stage: build
  needs:
  - clippy
  - test
  before_script:
  - rustup show
  - rustup target add "$TARGET"
  - "if [ -n \"${EXTRA_APT:-}\" ]; then\n  apt-get update && apt-get install -y --no-install-recommends ${EXTRA_APT}\nfi\n"
  cache:
    key:
      prefix: $TARGET
      files:
      - Cargo.lock
    paths:
    - target
  ...

build:linux:arm64:musl:
  stage: build
  needs:
  - clippy
  - test
  before_script:
  - rustup show
  - rustup target add "$TARGET"
  - "if [ -n \"${EXTRA_APT:-}\" ]; then\n  apt-get update && apt-get install -y --no-install-recommends ${EXTRA_APT}\nfi\n"
  cache:
    key:
      prefix: $TARGET
      files:
      - Cargo.lock
    paths:
    - target
  ...

nix_build_cache:
  stage: cache
  image: $NIX_IMAGE
  needs:
  - clippy
  - test
  variables:
    NIX_CONFIG: experimental-features = nix-command flakes
  script:
  - nix-env -iA nixpkgs.cachix
  - cachix authtoken "$CACHIX_AUTH_TOKEN"
  - nix build .#git-plumber --no-link --print-out-paths | xargs -r cachix push git-plumber

docker:publish:
  stage: container
  image: docker:28.3.3
  services:
  - docker:28.3.3-dind
  needs:
  - job: build:linux
    artifacts: true
  - job: build:linux:arm64:musl
    artifacts: true
  - job: build:linux:arm64:gnu
    artifacts: true
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
  ...

feat: add .idx support
  CHANGELOG.md
  src/cli/formatters.rs
  src/educational_content.rs
  src/git/pack/index.rs
  src/git/pack/mod.rs
  src/git/repository.rs
  src/tui/loaders.rs
  src/tui/main_view/key_bindings.rs
  src/tui/main_view/model.rs
  src/tui/main_view/update.rs
  src/tui/main_view/view.rs
  src/tui/message.rs
  src/tui/model.rs
  src/tui/navigation.rs
  src/tui/update.rs
  src/tui/widget/loose_obj_details/mod.rs
  src/tui/widget/mod.rs
  src/tui/widget/pack_idx_details/formatters/checksums.rs
  src/tui/widget/pack_idx_details/formatters/fanout.rs
  src/tui/widget/pack_idx_details/formatters/header.rs
  src/tui/widget/pack_idx_details/formatters/mod.rs
  src/tui/widget/pack_idx_details/formatters/objects.rs
  src/tui/widget/pack_idx_details/mod.rs
  src/tui/widget/pack_obj_details/mod.rs
  src/tui/widget/scrollable_text.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feat: pin refs in the tree
  src/tui/main_view/model.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: make "Loose objects" dir always present
  src/tui/git_tree.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: rm highlights for closed Loosed Objects
  src/tui/git_tree.rs
  src/tui/main_view/model.rs
  src/tui/main_view/view.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

refactor: proper event-driven drops CPU usage to 0
  CONTRIBUTING.md
  src/tui/loaders.rs
  src/tui/message.rs
  src/tui/mod.rs
  src/tui/model.rs
  src/tui/update.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

ci: fix yaml for MSRV
  .gitlab/maintenance-ci.yml
Due: none

ci: maintenance linted and clauded
  .gitlab/maintenance-ci.yml
Due: none

ci: rm broken MSRV check
  .gitlab/maintenance-ci.yml
Due: none

ci: publish pre-release releases
  .gitlab-ci.yml
  .gitlab/release-notes.md
Due: none

chore: v0.1.3 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

chore: Cargo.lock update
  Cargo.lock
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

chore: flake.lock update
  flake.lock
Due: nix_build_cache

docs: language clean up
  CONTRIBUTING.md
  README.md
Due: none

feat: empty folder indicators for all
  src/tui/loaders.rs
  src/tui/main_view/key_bindings.rs
  src/tui/main_view/model.rs
  src/tui/main_view/update.rs
  src/tui/main_view/view.rs
  src/tui/model.rs
  src/tui/navigation.rs
  src/tui/update.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: stop ticking when there is no animation
  src/tui/mod.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feat: Loose Objects is expanded when there are < 10 files inside
  src/tui/git_tree.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

docs: fix installation header
  README.md
Due: none

refactor: break up huge main_view
  src/tui/loaders.rs
  src/tui/main_view/animations/mod.rs
  src/tui/main_view/change_detection/mod.rs
  src/tui/main_view/key_bindings.rs
  src/tui/main_view/mod.rs
  src/tui/main_view/model.rs
  src/tui/main_view/services/git_service.rs
  src/tui/main_view/services/mod.rs
  src/tui/main_view/services/service_container.rs
  src/tui/main_view/services/state_service.rs
  src/tui/main_view/services/tree_service.rs
  src/tui/main_view/services/ui_service.rs
  src/tui/main_view/state_components.rs
  src/tui/main_view/tree_ops/flattening.rs
  src/tui/main_view/tree_ops/mod.rs
  src/tui/main_view/tree_ops/natural_sort.rs
  src/tui/main_view/update.rs
  src/tui/main_view/view.rs
  src/tui/model.rs
  src/tui/navigation.rs
  src/tui/update.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: jumping to a parent directory works in all cases
  src/tui/main_view/update.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feat: highlight folders with changes inside
  src/tui/enhanced_watcher.rs
  src/tui/git_tree.rs
  src/tui/main_view/animations/mod.rs
  src/tui/main_view/model.rs
  src/tui/main_view/services/direct_highlight_service.rs
  src/tui/main_view/services/dynamic_folder_service.rs
  src/tui/main_view/services/mod.rs
  src/tui/main_view/services/precomputed_highlight_service.rs
  src/tui/main_view/services/tree_service.rs
  src/tui/main_view/tree_ops/flattening.rs
  src/tui/message.rs
  src/tui/mod.rs
  src/tui/model.rs
  src/tui/update.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

chore: clippy fix with pedantic & nursery
  src/educational_content.rs
  src/git/pack/delta.rs
  src/git/pack/index.rs
  src/git/pack/mod.rs
  src/git/pack/object.rs
  src/git/repository.rs
  src/tui/loose_details/key_bindings.rs
  src/tui/main_view/animations/mod.rs
  src/tui/main_view/key_bindings.rs
  src/tui/main_view/services/git_service.rs
  src/tui/main_view/services/service_container.rs
  src/tui/main_view/services/state_service.rs
  src/tui/main_view/services/ui_service.rs
  src/tui/main_view/state_components.rs
  src/tui/main_view/tree_ops/flattening.rs
  src/tui/main_view/view.rs
  src/tui/pack_details/key_bindings.rs
  src/tui/scrolling.rs
  src/tui/watcher.rs
  src/tui/widget/loose_obj_details/formatters/blob.rs
  src/tui/widget/loose_obj_details/formatters/commit.rs
  src/tui/widget/loose_obj_details/formatters/tag.rs
  src/tui/widget/loose_obj_details/formatters/tree.rs
  src/tui/widget/loose_obj_details/mod.rs
  src/tui/widget/pack_idx_details/formatters/checksums.rs
  src/tui/widget/pack_idx_details/formatters/fanout.rs
  src/tui/widget/pack_idx_details/formatters/header.rs
  src/tui/widget/pack_idx_details/formatters/mod.rs
  src/tui/widget/pack_idx_details/formatters/objects.rs
  src/tui/widget/pack_idx_details/mod.rs
  src/tui/widget/pack_obj_details/config.rs
  src/tui/widget/pack_obj_details/formatters/compression.rs
  src/tui/widget/pack_obj_details/formatters/content.rs
  src/tui/widget/pack_obj_details/formatters/delta.rs
  src/tui/widget/pack_obj_details/formatters/header.rs
  src/tui/widget/pack_obj_details/mod.rs
  src/tui/widget/scrollable_text.rs
  src/version.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: git tree scroll jumping & highlight misalignment
  src/tui/main_view/model.rs
  src/tui/main_view/services/ui_service.rs
  src/tui/main_view/update.rs
  src/tui/update.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

docs: rm .tape, preview assets live in a special branch
  git-plumber.tape
Due: none

fix: out of bound index for Pack Group
  src/tui/widget/pack_idx_details/formatters/fanout.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feature: add blinking animation for folders with changes
  src/tui/main_view/animations/mod.rs
  src/tui/main_view/model.rs
  src/tui/main_view/services/dynamic_folder_service.rs
  src/tui/main_view/services/precomputed_highlight_service.rs
  src/tui/main_view/tree_ops/flattening.rs
  src/tui/main_view/view.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: use magenta to avoid conflict with selection yellow
  src/tui/main_view/animations/mod.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feature: configuration file support with longer animation defaults
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/config.rs
  src/lib.rs
  src/tui/loaders.rs
  src/tui/main_view/animations/mod.rs
  src/tui/main_view/model.rs
  src/tui/main_view/services/direct_highlight_service.rs
  src/tui/main_view/services/dynamic_folder_service.rs
  src/tui/main_view/services/precomputed_highlight_service.rs
  src/tui/mod.rs
  src/tui/model.rs
  src/tui/update.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feature: add highlight for out of the view git tree changes
  src/tui/helpers.rs
  src/tui/main_view/animations/mod.rs
  src/tui/main_view/view.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: scroll down when selections goes out of a small initial view
  src/tui/main_view/update.rs
  src/tui/mod.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: dynamic error instead of a panic for a small terminal
  src/tui/helpers.rs
  src/tui/mod.rs
  src/tui/model.rs
  src/tui/update.rs
  src/tui/view.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feat: tune minimal terminal size values
  src/tui/model.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feature: add whole text wrapping
  src/tui/helpers.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feature: rename "xedni" -> "rev"
  src/git/repository.rs
  src/tui/loaders.rs
  src/tui/model.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feature: initial rev index support
  src/git/pack/mod.rs
  src/git/pack/reverse_index.rs
  src/tui/helpers.rs
  src/tui/loaders.rs
  src/tui/main_view/model.rs
  src/tui/main_view/update.rs
  src/tui/main_view/view.rs
  src/tui/message.rs
  src/tui/update.rs
  src/tui/widget/formatters_utils.rs
  src/tui/widget/mod.rs
  src/tui/widget/pack_idx_details/formatters/fanout.rs
  src/tui/widget/pack_rev_details/formatters/header.rs
  src/tui/widget/pack_rev_details/formatters/mappings.rs
  src/tui/widget/pack_rev_details/formatters/mod.rs
  src/tui/widget/pack_rev_details/mod.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: blob slicer doesn't panic mid character
  src/tui/helpers.rs
  src/tui/loaders.rs
  src/tui/mod.rs
  src/tui/widget/loose_obj_details/formatters/blob.rs
  src/tui/widget/loose_obj_details/mod.rs
  src/tui/widget/pack_obj_details/formatters/content.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

feat: not all blobs are binary
  src/git/loose_object.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

docs: add a import to a test broken by deps
  src/tui/widget/formatters_utils.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

chore: imports cleanup
  src/tui/main_view/services/direct_highlight_service.rs
  src/tui/main_view/services/state_service.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: return parse errors instead of panicking on malformed pack/rev files
  src/git/pack/delta.rs
  src/git/pack/object.rs
  src/git/pack/reverse_index.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

fix: apply +1 continuation bias when decoding ofs-delta base offsets
  src/git/pack/object.rs
Due: clippy, test, build:linux, build:linux:arm64:gnu, build:linux:arm64:musl, nix_build_cache, docker:publish

Path conditions:
  clippy: any of: src/**/*, Cargo.toml, Cargo.lock
  test: any of: src/**/*, Cargo.toml, Cargo.lock
  build:linux: any of: src/**/*, Cargo.toml, Cargo.lock
  build:linux:arm64:gnu: any of: src/**/*, Cargo.toml, Cargo.lock
  build:linux:arm64:musl: any of: src/**/*, Cargo.toml, Cargo.lock
  nix_build_cache: any of: flake.nix, flake.lock, src/**/*, Cargo.toml, Cargo.lock
  docker:publish: any of: src/**/*, Cargo.toml, Cargo.lock
